<h3>Crypto Currency Lookup</h3>
<br/>

<%= form_tag home_lookup_path, :method => "POST" do %>
  <%= text_field_tag 'sym', nil, placeholder: "Enter Crypto Symbol", size: 50 %>
  <%= submit_tag 'Lookup Stock quote' %>
<% end %>

<br/><br/>

<%= @symbol %><br>

<% if @symbol %>
    <% for x in @lookup_coin %>
        <% if @symbol == x["symbol"] %>
             <%= x["name"] %>: $<%= x["price_usd"]%><br/>
              Rank: <%= x["rank"] %><br/><br/>
        <% end %>
    <% end %>
<% end %>
<!-- 
if @lookup_coin['symbol'].includes @symbol 
    Print it out like normal 
else 
    Print custom error message -->



